{% extends 'base.html' %}

{% block content %}
<style type='text/css'>
  .button_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  .button_b {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
</style>
<h1>Home page</h1>

{% if user.is_authenticated %}
  <div class="button_cont" align="center"><a class="button_a" href="{% url 'booking:booking_home' %}">Booking manager</a></div>
  <div class="button_cont" align="center"><a class="button_b" href="{% url 'pets:list' %}">Manage Pets</a></div>
{% else %}
  <div class="button_cont" align="center"><a class="button_a" href="{% url 'accounts:register' %}">Create an Account</a></div>
  <div class="button_cont" align="center"><a class="button_a" href="{% url 'accounts:login' %}">Login</a></div>
{% endif %}
{% endblock %}
